.container-search-header {
  position: absolute;
  top: 100%;
  left: 250px;
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 0 0 20px 20px;
  width: 50%;
}
.container-search-header::before {
  content: "Game List";
  font-weight: bold;
}
.no-results {
  font-size: 50px;
  color: #f46119;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 958px) {
  .container-search-header {
    width: 100%;
    left: 0;
  }
  .no-results {
    font-size: 25px;
  }
}
